
body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

/* .navbar-custom {
    background-color: #252423;
  }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .navbar .nav-item.active {
    border-left: #444 3px solid;
  } 
  
  .navbar .navbar-brand {
    border-right: #444 3px solid;
    padding-right: 0.5rem;
  } */

  .profile-img {
    border-radius: 50%
  }