<div class = "container-fluid mt-2">
<div class="row">
    <div class="col-md-3">
        <img class="profile-img" src="https://res.cloudinary.com/madajee/image/upload/v1565914962/profileappv1/assets/img/JeetanProfessionalImage.jpg" alt="Profile Image - Jeetan Madaan">
 <!--       <img class="mt-2 mb-2" ng-model="input" ng-model="randomimage" ng-src="{{randomimage}}">-->
<!--        <button class="btn btn-secondary" ng-click="reload()">Reload</button>-->
        <img class="scenic-img mt-5" src="https://res.cloudinary.com/madajee/image/upload/v1552842954/samples/landscapes/architecture-signs.jpg" alt="Scenic Image - Unsplash">
    </div>
    <div class="col-md-9">
        <p>Experienced Professional with 16+ years in enterprise integration, project delivery, development & implementation programs. Exploring career opportunities in Integration, Cloud, APIs, Microservices, CRM + Data + AI platform and ecosystem.</p>
        <home-timeline></home-timeline>
    </div>
</div>
<custom-footer authorname='Jeetan' linkurl='https://www.linkedin.com/in/jeetan-madaan-37aaa113/'></custom-footer>
</div>




